.container {
  @apply inline-block w-full;
  * + & {
    @apply mt-10;
  }
}

.toggle-base {
  --button-height: 10px;
  --padding-shift: 5.5px;
  --active-button-height: 0px;
  --active-padding-shift: 0px;
  --press-diff: calc(var(--button-height) - var(--active-button-height));
  @apply relative flex flex-nowrap bg-button px-4 py-3 items-center;
  @apply text-[22px] font-bold leading-sub text-main no-underline shadow-around transition-all duration-300 cursor-pointer;
  @apply md:text-[28px];

  &::before, &::after {
    @apply absolute transition-all duration-150 content-[''];
  }
  &::before {
    @apply w-full bg-button-2 shadow-bottom-and-x skew-x-[45deg];
  }
  &::after {
    @apply h-full bg-button-2 shadow-y-and-right skew-y-[45deg];
  }
}

.toggle-active {
  @apply toggle-base;
  @apply ml-[var(--button-height)] mr-0 mb-0 mt-[var(--button-height)];

  &::before {
    @apply hidden;
  }
  &::after {
    @apply hidden;
  }
}

.toggle {
  @apply toggle-base;
  @apply mr-[var(--button-height)] mb-[var(--button-height)];

  &::before {
    @apply -bottom-[var(--button-height)] left-[var(--padding-shift)] h-[var(--button-height)];
  }
  &::after {
    @apply -right-[var(--button-height)] -bottom-[var(--padding-shift)] w-[var(--button-height)];
  }
  &:active {
    @apply mt-[var(--press-diff)] ml-[var(--press-diff)] mr-[var(--active-button-height)] mb-[var(--active-button-height)];

    &::before {
      @apply -bottom-[var(--active-button-height)] left-[var(--active-padding-shift)] h-[var(--active-button-height)];
    }
    &::after {
      @apply -right-[var(--active-button-height)] -bottom-[var(--active-padding-shift)] w-[var(--active-button-height)];
    }
  }
}

.content {
  @apply grow flex flex-col;
}

.party-group {
  @apply mt-2 flex flex-row flex-nowrap items-center;
}

.party {
  @apply ml-2 text-title-sub font-bold text-main;
}

.control {
  @apply shrink-0 text-main w-9 h-9 self-baseline;
}