.main-text {
  @apply text-[20px] font-bold  md:text-[24px];
}
.sub-text {
  @apply text-[14px] font-medium;
}
.single-line-block {
  @apply overflow-hidden text-ellipsis;
}
.multi-line-block-large {
  @apply hidden lg:block;
}
.multi-line-block-small {
  @apply block lg:hidden;
}
.container {
  @apply flex flex-col px-4 py-2;
  @apply md:justify-around md:px-5 md:py-3;
}
.text-group {
  @apply text-left md:text-center;
}
.title {
  @apply sub-text;
  @apply flex-col flex-nowrap md:mx-auto  md:flex;
}
.content {
  @apply main-text overflow-hidden text-ellipsis;
}
.main-container {
  @apply mt-header flex w-screen flex-row flex-wrap text-white;
  @apply md:mt-header-md;
  @apply lg:flex-nowrap;
}
.profile-block {
  @apply relative flex  w-full items-center bg-person px-4 py-5 shadow-bottom;
  @apply md:pl-10 md:pr-20;
  @apply lg:w-1/2  lg:shadow-bottom-and-right;
}
.avatar-large {
  @apply hidden md:inline;
}
.avatar-small {
  @apply inline md:hidden;
}
.name {
  @apply flex grow flex-col pl-3;
}
.party {
  @apply mt-2 flex items-center pr-[60px] md:pr-0;
}
.party-name {
  @apply name;
}
.tab {
  @apply absolute right-0 bottom-0 bg-button  px-3 py-2 text-[16px];
  @apply font-bold leading-sub text-main shadow-y-and-left;
  @apply md:top-0 md:bottom-auto md:pt-1 md:text-[18px] md:shadow-bottom-and-left;
  @apply lg:shadow-bottom-and-x;
}
.data-block {
  @apply flex w-full flex-row flex-wrap;
  @apply lg:w-1/2;
}
.campaign-block {
  @apply w-full bg-campaign py-[12px] shadow-bottom;
  @apply md:w-3/5 md:shadow-bottom-and-right;
}
.statistic-block {
  @apply w-1/2  md:h-auto md:w-2/5;
}
.already-block {
  @apply statistic-block bg-complete py-[12px] shadow-bottom-and-right md:w-1/5;
}
.waiting-block {
  @apply statistic-block bg-waiting py-[12px] shadow-bottom md:w-1/5;
}
