@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  article {
    max-width: 600px;

    & > * {
      margin-top: 32px;

      font-weight: 400;
      font-size: 18px;
      line-height: 2;
      color: #212944;
    }

    /* setup inline style */
    & > * {
      strong {
        font-weight: 500;
      }
      a {
        color: #007aff;
      }
      code {
        padding: 4px 8px;
        background: #f2f2f4;
        font-family: unset;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
      span[style^='background'] {
        background-color: unset;
        display: inline-block;
        position: relative;
        background: linear-gradient(
          to top,
          transparent 33%,
          #ebf02c 33% 66%,
          transparent 66%
        ) !important;
      }
    }

    & > h2 {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.4;
    }

    & > h3 {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
    }

    & > ul {
      list-style: none;

      & > li {
        padding-left: 28px;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          top: 15px;
          left: 0;
          border-radius: 50%;
          width: 6px;
          height: 6px;
          background: #7f8493;
        }
      }
    }

    & > ol {
      list-style: none;
      counter-reset: custom-counter;

      & > li {
        counter-increment: custom-counter;
        padding-left: 28px;
        position: relative;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: counter(custom-counter) '.';
          color: #7f8493;
          font-weight: 400;
          font-size: 18px;
          line-height: 36px;
        }
      }
    }

    & > hr {
      border-color: #e5e6e9;
    }

    & span[data-entity-type='annotation'],
    & div.annotation-block > span {
      display: inline-flex;
      align-items: center;
      color: #007aff;
      &::after {
        content: '';
        background-image: url('/icons/icon-annotation-arrow.png');
        background-size: contain;
        width: 24px;
        height: 24px;
        display: inline-block;
        cursor: pointer;
        margin-left: 4px;
        transition: transform 0.3s;
      }
    }
    & div.annotation-block {
      display: inline;
      & > span.expand::after {
        transform: rotate(-180deg);
      }

      & .body {
        display: none;
        margin: 8px 0;
        padding: 24px 32px;
        background-color: #f2f2f4;
        &.expand {
          display: block;
        }
      }
    }

    & > div.blockquote-block {
      padding: 0 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: #575d71;
    }

    & > pre.code-block {
      padding: 12px 20px;
      background: #212944;
      color: #e5e6e9;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      text-wrap: wrap;
    }

    & > section.color-box {
      padding: 24px 32px;
      background: #f2f2f4;
    }

    & > section.infobox-block {
      background: #f2f2f4;
      padding: 24px 0;
      & > .title {
        padding: 0 32px;
        position: relative;
        font-weight: 500;
        font-size: 18px;
        font-weight: 27px;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 8px;
          height: 100%;
          background: #212944;
        }
      }
      & > .body {
        margin-top: 8px;
        padding: 0 32px;
      }
    }

    & > table {
      width: 100%;
      border-collapse: collapse;
      text-align: center;
      & tr {
      }
      & th {
        background-color: #f6f6fb;
      }
      & th,
      & td {
        border: 1px solid #e5e6e9;
        padding: 4px 8px;
        & .cell {
          min-width: 100px;
          min-height: 40px;
        }
      }
    }

    & div.audio-block {
      margin: 0 auto;
      border: 1px solid rgba(0, 9, 40, 0.1);
      padding: 16px 24px 16px 16px;
      width: 335px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      gap: 16px;
      @media (min-width: 768px) {
        width: 480px;
      }
      & audio {
        display: none;
      }
      & .play-pause {
        width: 64px;
        height: 64px;
        flex-shrink: 0;
      }
      & .panel {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 8px;
        flex-grow: 1;
        & .title {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.3;
          color: rgba(33, 41, 68, 1);
        }
        & .progress-container {
          width: 100%;
          height: 6px;
          border-radius: 4px;
          background: rgba(229, 230, 233, 1);
          overflow: hidden;
          cursor: pointer;
          & .progress-bar {
            width: 100%;
            height: 100%;
            background: rgba(33, 41, 68, 1);
            transition: transform 0.2s ease;
            transform-origin: left;
            transform: scaleX(0.2);
          }
        }
        & .time {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 12px;
          font-weight: 400;
          line-height: 1.5;
          color: rgba(0, 9, 40, 0.5);

          & .divider-y {
            height: 12px;
            border-right: 1px solid rgba(0, 9, 40, 0.1);
          }
        }
      }
    }

    & figure.image-block {
      width: 100%;
      & .image-wrapper {
        position: relative;
        height: 375px;

        @media (min-width: 768px) {
          height: 400px;
        }
      }
    }

    & div.video-block {
      width: 100%;
      aspect-ratio: 100/56;
      display: flex;
      justify-content: center;
      position: relative;
      & video {
        height: 100%;
      }
      & .cover {
        position: absolute;
        inset: 0;
        background-color: rgba(33, 41, 68, 1);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    & div.slideshow-block {
      width: 100%;
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      position: relative;

      @media (min-width: 768px) {
        &.fold {
          max-height: 906px;
          overflow: hidden;
        }
      }
      & figure {
        width: 100%;
        aspect-ratio: 1;

        @media (min-width: 768px) {
          width: 294px;
        }

        @media (hover: hover) {
          cursor: pointer;

          &:hover {
            filter: brightness(15%);
            transition: 0.3s;
          }
        }
        & figcaption {
          padding: 0 20px;
          margin-top: 8px;
          font-weight: 400;
          font-size: 13px;
          line-height: 1.5;
          color: #7f8493;
          @media (min-width: 768px) {
            display: none;
          }
        }
      }
      & .lightbox {
        display: none;
        @media (min-width: 768px) {
          background: #000928;
          position: fixed;
          inset: 0;
          color: white;
          padding: 0 72px 0 48px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          /* FIXME: apply z-index following project setup */
          z-index: 9999;
        }
        & .sidebar {
          width: 64px;
          position: relative;
          & .arrow {
            width: 64px;
            height: 64px;
            cursor: pointer;
            border-radius: 50%;
            visibility: visible;
            @media (hover: hover) {
              &:hover {
                background-color: rgba(255, 255, 255, 0.2);
              }
            }
            &.hide {
              visibility: hidden;
            }
          }
          & .images {
            overflow-y: scroll;
            max-height: 520px;
            scrollbar-width: none;
            margin: 12px auto;
            &::-webkit-scrollbar {
              display: none; /* for Chrome, Safari, and Opera */
            }

            & .image {
              width: 100%;
              aspect-ratio: 1/1;
              cursor: pointer;
              filter: brightness(35%);
              & + * {
                margin-top: 12px;
              }
              &.focus {
                filter: none;
              }
            }
          }
        }
        & .image-block {
          & .image {
            max-width: 480px;
            max-height: 480px;
          }
          & .meta {
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            text-align: center;
            color: #ffffff;
            margin-top: 32px;

            & .desc {
              max-height: 46px;
              overflow: hidden;
              word-break: break-word;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              opacity: 0.87;
              margin-bottom: 12px;
            }
            & .pagination {
              opacity: 0.5;
              margin-top: 12px;
            }
          }
        }
        & .close {
          height: 60vh;
          width: 64px;
          position: relative;
          & .icon {
            cursor: pointer;
            position: absolute;
            top: -64px;
            border-radius: 50%;

            @media (hover: hover) {
              &:hover {
                background-color: rgba(255, 255, 255, 0.2);
              }
            }
          }
        }
      }
      & .mask {
        display: none;
        @media (min-width: 768px) {
          cursor: pointer;
          display: block;
          position: absolute;
          width: 100%;
          height: 906px;
          bottom: 0;
          left: 0;
          background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 648px,
            rgba(255, 255, 255, 1) 906px
          );
        }
      }
      & + .slideshow-unfold-hint {
        display: none;
        @media (min-width: 768px) {
          margin-top: 16px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;
          cursor: pointer;
          & .text {
            font-weight: 700;
            font-size: 18px;
            line-height: 1;
            letter-spacing: 0.03em;
            color: #000928;
          }
          &:hover .icon {
            transition: all 0.2s ease;
            transform: translateY(30%);
          }
        }
      }
    }

    & .background-image-block {
      /* TODO: set the width to fit the project */
      --navbar-width: 0;
      clear: both;
      position: relative;
      width: 100vw;
      min-height: 100vh;
      /* TODO: replace the formula to fit the website */
      left: calc(
        (100% + var(--navbar-width) - 100vw) / 2 - var(--navbar-width)
      );
      @media (min-width: 768px) {
        --navbar-width: 128px;
      }
      @media (min-width: 960px) {
        --navbar-width: 220px;
      }
      @media (min-width: 1200px) {
        left: calc(-40px - var(--navbar-width));
      }
      @media (min-width: 1440px) {
        --navbar-width: 320px;
        left: calc(-40px - var(--navbar-width) - (100vw - 1440px) / 2);
      }
      .background-image {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
      }
      .content {
        position: relative;
        z-index: 1;
        & .row-empty {
          height: 100vh;
        }
        &.static {
          height: 100vh;
          & .row-content {
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
            text-shadow: 0px 0px 1px #000000;
            @media (min-width: 768px) {
              bottom: 40px;
            }
          }
        }
        &.parallax {
          .row-content {
            &.left {
              padding: 0 20px 97px;
              @media (min-width: 768px) {
                padding: 0 40px 335px;
              }
              @media (min-width: 1200px) {
                padding: 0 80px 169px;
                padding-right: calc(100% - 480px - 80px);
              }
              @media (min-width: 1440px) {
                padding-bottom: 296px;
              }
            }
            &.right {
              padding: 0 20px 97px;
              @media (min-width: 768px) {
                padding: 0 40px 335px;
              }
              @media (min-width: 1200px) {
                padding: 0 80px 169px;
                padding-left: calc(100% - 480px - 80px);
              }
              @media (min-width: 1440px) {
                padding-bottom: 296px;
              }
            }
            &.bottom {
              padding: 0 20px 20px;
              @media (min-width: 768px) {
                padding: 0 40px 40px;
              }
              @media (min-width: 1200px) {
                padding: 0 calc(50% - 240px) 40px;
              }
              @media (min-width: 1440px) {
                padding-bottom: 80px;
              }
            }
            .body {
              background: rgba(169, 118, 118, 0.1);
              border-radius: 8px;
              padding: 20px;
              @media (min-width: 1200px) {
                width: 480px;
              }
            }
          }
        }
      }
    }

    & .background-video-block {
      /* TODO: set the width to fit the project */
      --navbar-width: 0;
      clear: both;
      position: relative;
      width: 100vw;
      min-height: 100vh;
      /* TODO: replace the formula to fit the website */
      left: calc(
        (100% + var(--navbar-width) - 100vw) / 2 - var(--navbar-width)
      );
      @media (min-width: 768px) {
        --navbar-width: 128px;
      }
      @media (min-width: 960px) {
        --navbar-width: 220px;
      }
      @media (min-width: 1200px) {
        left: calc(-40px - var(--navbar-width));
      }
      @media (min-width: 1440px) {
        --navbar-width: 320px;
        left: calc(-40px - var(--navbar-width) - (100vw - 1440px) / 2);
      }
      .background-video {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .content {
        position: relative;
        z-index: 1;
        & .row-empty {
          height: 100vh;
        }
        &.static {
          height: 100vh;
          & .row-content {
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
            text-shadow: 0px 0px 1px #000000;
            @media (min-width: 768px) {
              bottom: 40px;
            }
          }
        }
        &.parallax {
          .row-content {
            &.left {
              padding: 0 20px 97px;
              @media (min-width: 768px) {
                padding: 0 40px 335px;
              }
              @media (min-width: 1200px) {
                padding: 0 80px 169px;
                padding-right: calc(100% - 480px - 80px);
              }
              @media (min-width: 1440px) {
                padding-bottom: 296px;
              }
            }
            &.right {
              padding: 0 20px 97px;
              @media (min-width: 768px) {
                padding: 0 40px 335px;
              }
              @media (min-width: 1200px) {
                padding: 0 80px 169px;
                padding-left: calc(100% - 480px - 80px);
              }
              @media (min-width: 1440px) {
                padding-bottom: 296px;
              }
            }
            &.bottom {
              padding: 0 20px 20px;
              @media (min-width: 768px) {
                padding: 0 40px 40px;
              }
              @media (min-width: 1200px) {
                padding: 0 calc(50% - 240px) 40px;
              }
              @media (min-width: 1440px) {
                padding-bottom: 80px;
              }
            }
            .body {
              background: rgba(169, 118, 118, 0.1);
              border-radius: 8px;
              padding: 20px;
              @media (min-width: 1200px) {
                width: 480px;
              }
            }
          }
        }
      }
    }

    /* nested body of blockquote, infobox, colorbox */
    & .body {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #575d71;

      & > * + * {
        margin-top: 16px;
      }

      /* overwrite inline style */
      & > * {
        strong {
          font-weight: 700;
          color: #212944;
        }
      }

      & > h2 {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        & + * {
          margin-top: 0;
        }
      }

      & > h3 {
        font-weight: 500;
        font-size: 14px;
        line-height: 18.2px;
        & + * {
          margin-top: 0;
        }
      }

      & > h4 {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        & + * {
          margin-top: 0;
        }
      }

      & > ul {
        list-style: none;

        & > li {
          padding-left: 18px;
          position: relative;

          &::before {
            position: absolute;
            content: '';
            top: 9px;
            left: 0;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            background: #7f8493;
          }
        }
      }

      & > ol {
        list-style: none;
        counter-reset: custom-counter;

        & > li {
          counter-increment: custom-counter;
          padding-left: 18px;
          position: relative;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: counter(custom-counter) '.';
            color: #7f8493;
            font-weight: 400;
            font-size: 18px;
            line-height: 36px;
          }
        }
      }

      & > pre.code-block {
        padding: 12px 20px;
        background: #212944;
        color: #e5e6e9;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
}
