@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  article {
    max-width: 600px;

    & > * {
      margin-top: 32px;

      font-weight: 400;
      font-size: 18px;
      line-height: 2;
      color: #212944;
    }

    /* setup inline style */
    & > * {
      strong {
        font-weight: 500;
      }
      a {
        color: #007aff;
      }
      code {
        padding: 4px 8px;
        background: #f2f2f4;
        font-family: unset;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
      span[style^='background'] {
        background-color: unset;
        display: inline-block;
        position: relative;
        background: linear-gradient(
          to top,
          transparent 33%,
          #ebf02c 33% 66%,
          transparent 66%
        ) !important;
      }
    }

    & > h2 {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.4;
    }

    & > h3 {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
    }

    & > ul {
      list-style: none;

      & > li {
        padding-left: 28px;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          top: 15px;
          left: 0;
          border-radius: 50%;
          width: 6px;
          height: 6px;
          background: #7f8493;
        }
      }
    }

    & > ol {
      list-style: none;
      counter-reset: custom-counter;

      & > li {
        counter-increment: custom-counter;
        padding-left: 28px;
        position: relative;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: counter(custom-counter) '.';
          color: #7f8493;
          font-weight: 400;
          font-size: 18px;
          line-height: 36px;
        }
      }
    }

    & > hr {
      border-color: #e5e6e9;
    }

    & > div.blockquote-block {
      padding: 0 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: #575d71;
    }

    & > div.code-block {
      padding: 12px 20px;
      background: #212944;
      color: #e5e6e9;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
    }

    & > div.color-box {
      padding: 24px 32px;
      background: #f2f2f4;
    }

    & > div.info-box {
      background: #f2f2f4;
      padding: 24px 0;
      & > .title {
        padding: 0 32px;
        position: relative;
        font-weight: 500;
        font-size: 18px;
        font-weight: 27px;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 8px;
          height: 100%;
          background: #212944;
        }
      }
      & > .body {
        margin-top: 8px;
        padding: 0 32px;
      }
    }

    /* nested body of blockquote, infobox, colorbox */
    & .body {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #575d71;

      & > * + * {
        margin-top: 16px;
      }

      /* overwrite inline style */
      & > * {
        strong {
          font-weight: 700;
          color: #212944;
        }
      }

      & > h2 {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        & + * {
          margin-top: 0;
        }
      }

      & > h3 {
        font-weight: 500;
        font-size: 14px;
        line-height: 18.2px;
        & + * {
          margin-top: 0;
        }
      }

      & > h4 {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        & + * {
          margin-top: 0;
        }
      }

      & > ul {
        list-style: none;

        & > li {
          padding-left: 18px;
          position: relative;

          &::before {
            position: absolute;
            content: '';
            top: 9px;
            left: 0;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            background: #7f8493;
          }
        }
      }

      & > ol {
        list-style: none;
        counter-reset: custom-counter;

        & > li {
          counter-increment: custom-counter;
          padding-left: 18px;
          position: relative;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: counter(custom-counter) '.';
            color: #7f8493;
            font-weight: 400;
            font-size: 18px;
            line-height: 36px;
          }
        }
      }

      & > div.code-block {
        padding: 12px 20px;
        background: #212944;
        color: #e5e6e9;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
}
