.portal {
  @apply fixed top-[120px] left-1/2 flex -translate-x-1/2 flex-col-reverse;
  width: min(500px, calc(100% - 32px));
  &:empty {
    @apply hidden;
  }
}
.toast {
  @apply flex flex-row flex-nowrap items-center bg-white mb-2 p-3 gap-x-2;
  @apply md:p-5;

  &.success {
    box-shadow: 0px 2px 20px rgba(47, 183, 191, 0.1), 0px 4px 8px rgba(47, 183, 191, 0.5), inset 4px 0px 0px #2FB7BF;

    .status {
      @apply text-[#2FB7BF];
    }
    .title {
      @apply text-[#208F96];
    }
  }
  &.fail {
    box-shadow: 0px 2px 20px rgba(219, 76, 101, 0.1), 0px 4px 8px rgba(219, 76, 101, 0.5), inset 4px 0px 0px #DB4C65;

    .status {
      @apply text-[#DB4C65];
    }
    .title {
      @apply text-[#C0374F];
    }
  }
}
.status {
  @apply w-12 h-12 shrink-0;
}
.text-group {
  @apply flex flex-col flex-nowrap gap-y-1 grow;
}
.title {
  @apply text-[16px] leading-[1.3] font-bold;
  @apply md:text-[18px];
}
.desc {
  @apply text-[14px] leading-6 font-medium text-main opacity-50;
}
.cross {
  @apply w-8 h-8 shrink-0 text-main;

  &:hover, &:active {
    @apply bg-label bg-opacity-5 rounded-full;
  }
}