@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  input:focus {
    outline: none;
  }
}

@layer components {
  /* the typography types according to the figma */
  .hero-title {
    @apply text-2xl font-medium leading-[130%];
  }

  .title-1 {
    @apply text-xl font-medium leading-[140%];
  }

  .title-2 {
    @apply text-lg font-medium leading-normal;
  }

  .list-title {
    @apply text-lg font-medium leading-8;
  }

  .subtitle-1 {
    @apply text-base font-normal;
  }

  .subtitle-2 {
    @apply text-sm font-medium leading-[130%];
  }

  .body-1 {
    @apply text-lg font-normal leading-[200%];
  }

  .body-2 {
    @apply text-base font-normal;
  }

  .body-3 {
    @apply text-sm font-normal leading-normal;
  }

  .footnote {
    @apply text-[13px] font-normal leading-normal;
  }

  .caption-1 {
    @apply text-xs font-normal leading-normal;
  }

  .caption-2 {
    @apply text-[11px] font-normal leading-none;
  }

  .button {
    @apply text-sm font-normal leading-6;
  }

  .button-large {
    @apply text-base font-normal leading-[140%];
  }

  .profile-title {
    @apply text-lg font-bold leading-6;
  }

  .profile-title-2 {
    @apply text-base font-bold leading-5;
  }

  .profile-subtitle {
    @apply text-sm font-normal leading-none;
  }

  .quote {
    @apply text-xl font-bold leading-normal;
  }
}
