@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-700: theme('colors.primary.700.DEFAULT');
  --color-primary-200: theme('colors.primary.200.DEFAULT');
}

@layer base {
  input,
  input:focus {
    outline: none;
  }
}

@layer components {
  /* the typography types according to the figma */
  .hero-title {
    @apply text-2xl font-medium leading-[130%];
  }

  .title-1 {
    @apply text-xl font-medium leading-[140%];
  }

  .title-2 {
    @apply text-lg font-medium leading-normal;
  }

  .list-title {
    @apply text-lg font-medium leading-8;
  }

  .subtitle-1 {
    @apply text-base font-normal;
  }

  .subtitle-2 {
    @apply text-sm font-medium leading-[130%];
  }

  .body-1 {
    @apply text-lg font-normal leading-[200%];
  }

  .body-2 {
    @apply text-base font-normal;
  }

  .body-3 {
    @apply text-sm font-normal leading-normal;
  }

  .footnote {
    @apply text-[13px] font-normal leading-normal;
  }

  .caption-1 {
    @apply text-xs font-normal leading-normal;
  }

  .caption-2 {
    @apply text-[11px] font-normal leading-none;
  }

  .button {
    @apply text-sm font-normal leading-6;
  }

  .button-large {
    @apply text-base font-normal leading-[140%];
  }

  .profile-title {
    @apply text-lg font-bold leading-6;
  }

  .profile-title-2 {
    @apply text-base font-bold leading-5;
  }

  .profile-subtitle {
    @apply text-sm font-normal leading-none;
  }

  .quote {
    @apply text-xl font-bold leading-normal;
  }
  .primary-container {
    @apply flex min-h-screen flex-col pb-[theme(height.nav.default)] pt-[theme(height.header.default)];
    @apply sm:pb-0 sm:pl-[theme(width.nav.sm)] sm:pt-[theme(height.header.sm)];
    @apply md:pl-[theme(width.nav.md)];
    @apply xl:pl-[calc((100vw-theme(width.maxContent))/2+theme(width.nav.xl))];
  }
  .primary-container-article {
    @apply flex min-h-screen flex-col pb-[theme(height.nav.default)] pt-[theme(height.header.default)];
    @apply sm:pb-0 sm:pt-[theme(height.header.sm)];
  }
  .primary-container-collection {
    @apply flex min-h-screen flex-col items-center pt-[theme(height.header.default)];
    @apply sm:pt-[theme(height.header.sm)];
  }

  .dot-flashing {
    @apply relative h-2 w-2 rounded-full bg-custom-blue;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
  }

  .dot-flashing::before,
  .dot-flashing::after {
    content: '';
    @apply absolute top-0 h-2 w-2 rounded-full bg-custom-blue;
  }

  .dot-flashing::before {
    @apply left-[-16px];
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }

  .dot-flashing::after {
    @apply left-4;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }

  @keyframes dot-flashing {
    0% {
      background-color: theme('colors.custom-blue.DEFAULT');
    }
    50%,
    100% {
      background-color: theme('colors.custom-blue.DEFAULT / 20%');
    }
  }

  .custom-duration-slider {
    @apply w-full cursor-pointer appearance-none rounded;
    /* Track */
    &::-webkit-slider-runnable-track {
      @apply h-[6px] rounded;
    }
    &::-moz-range-track {
      @apply h-[6px] rounded;
    }
    /* Thumb */
    &::-webkit-slider-thumb {
      @apply size-3 rounded-full bg-primary-700 drop-shadow;
      appearance: none;
      transform: translateY(-25%);
    }
    &::-moz-range-thumb {
      @apply size-3 rounded-full bg-primary-700 drop-shadow;
      appearance: none;
      transform: translateY(-25%);
    }
  }

  .custom-volume-slider {
    @apply ml-1 hidden w-[72px] cursor-pointer appearance-none self-center rounded lg:block;
    /* Track */
    &::-webkit-slider-runnable-track {
      @apply h-[6px] rounded;
    }
    &::-moz-range-track {
      @apply h-[6px] rounded;
    }
    /* Thumb */
    &::-webkit-slider-thumb {
      @apply size-0;
      appearance: none;
    }
    &::-moz-range-thumb {
      @apply size-0;
      appearance: none;
    }
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
